<style>
		.advert img {
		    display: block;
		    width: 100%;
		    height: auto;
		}
	</style>
	<div class="advert">
		<a href="/index.php?m=content&c=index&a=lists&catid=9" target="_blank"><img src="./images/gd1.jpg" alt=""><!--span></span--></a>
	</div>

		<div style="width: 1200px;margin: 0 auto;">

			<div class="nav-list mt30" style="margin-bottom:30px;">
			<h1 class="fl">
				<a class="logo" href="javascript:;" target="_blank">
					<img src="./images/logo.png" alt="">
				</a>
			</h1>
			{template "content","header_ul"}
			<div class="clear"></div>
		</div>

	</div>