<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{template "content","header_seo"}
	
</head>
<body>
	{template "content","header_min2"}
<style>
.gytp > span{
	font-size: 18px;
	font-weight: bold;
	float: left;
	width: 100%;
}
.option_DL h3	{font-size: 18px;}
.gytp .main	{width:1140px;overflow: hidden;text-align: center;}
.gytp  ul{
	/*float: left;*/
	overflow: hidden;
}
.gytp  ul > li{
	float: left;
	margin-left:10px;
	margin-right:10px;
	width:260px;overflow: hidden;
}
.gytp  ul > li p {line-height: 30px;font-size: 14px;overflow: hidden;}
.gytp  ul > li img{
	display: block;
	width:260px;height: 155px;
}
</style>

<div class="Page">
		<div class="option_Banner tc f22 mt30" style="font-family:STXingkai;font-size:40px;">我们把企业项目搬进课堂 做学生与企业之间的桥梁</div>
		<dl class="mt30 option_DL tab" id="tab_h">
			<dt class="fl cur">狼腾概况</dt>
			<!-- <dt class="fl">发展历程</dt> -->
		</dl>
		<dl class="mt30 option_DL" id="tab_c">
			<dd>
				<h2>汉科软（北京）科技有限公司</h2>
				<p>狼腾测试员是汉科软旗下的高端IT教育品牌。现在开设测试开发、性能自动化测试、高级测试管理、Python自动化开发、网络安全测试等软件测试培训学科。公司成立2013年，总部设在北京。直营分校区遍布在北京、河南、安徽等城市。</p>
				<p>狼腾测试员是汉科软旗下高端IT教育品牌，以务实、协作、服务、创新为核心价值观，致力于服务各大软件企业，解决当前软件测试技术飞速发展，而企业招不到优秀人才的困扰。目前，“中关村狼腾测试员训练营”已成长为行业“学员质量好、课程内容深、企业满意”的测试开发高端训练基地，并评为中关村软件园重点扶持人才企业。</p>
				<p>狼腾测试员不仅着重培养学员的基础理论知识，更注重培养项目实施管理能力，并密切关注技术革新，不断引入先进的测试技术，研发更新的技术课程，确保学员进入企业后不仅能独立从事测试工作，更能给企业带来新的技术体系和理念。</p>
				<p>狼腾测试员的学员多为大学毕业后，想从事IT行业，但各方面条件还不成熟的年轻人。狼腾测试员的学员筛选制度非常严格，包括了严格的技术测试、自学能力测试，还包括性格测试和品德测试等。百里挑一的残酷筛选制度确保了学员质量，并降低了企业的用人风险。</p>
				<p>一直以来，狼腾测试员的教学研发团队一直致力于打造精品课程资源，不断在产、学、研三个层面创新自己的职教理念与教学方针，并集中狼腾测试员的优势力量，有针对性的出版了计算机系列教材10多册，制作了配套教学视频数十套，并发表各类技术文章数百篇。</p>
				<p>狼腾测试员分享的免费视频教程累计时长10余万小时;率先在业内推出免费公开课，现已经开设700多节;印制现有学科的光盘，并且面向全国范围内免费给学员发放，累计发出去的光盘数量已经突破300万，

				<div class='gytp' >
					<h3>公司荣誉</h3>
					<div class="main">
						<ul>
							<li><img src="/images/gg1.png"><p>中国民教网荣誉</p></li>
							<li><img src="/images/gg2.png"><p>信用表彰</p></li>
							<li><img src="/images/gg3.png"><p>国家工信部授权基地</p></li>
							<li><img src="/images/gg4.png"><p>大学生就业示范基地</p></li>
						</ul>
					</div>
				</div>
				
				<div class='gytp' >
					<h3>合作院校</h3>
					<div class="main">
						<ul>
							<li><img src="/images/hz2.png"><p>开封大学合作</p></li>
							<li><img src="/images/hz3.png"><p>讲师授课现场</p></li>
							<li><img src="/images/hz1.png"><p>校企共建基地</p></li>
							<li><img src="/images/hz4.png"><p>企业名师讲座</p></li>
						</ul>
					</div>
				</div>
				<h3 style="margin-bottom:30px;">发展历程</h3>
				<dl>
					<dt>2013年</dt>
					<dd>
						<p>狼腾测试员品牌成立</p>
						<p>狼腾测试员北京总部校区装修完成，正式投入使用</p>
						<p>第1界软件测试训练营正式开班</p>
						<p>第1界软件测试训练营毕业，平均就业薪资达到7K，就业率达到100%</p>
						<p>狼腾测试员正式推出新的入学面试审核流程</p>
						<p>狼腾测试员正式开设性能自动化测试课程</p>
					</dd>
					<dt>2014年</dt>
					<dd>
						<p>狼腾测试员更新就业承诺，正式推出“毕业工作月薪不到7000-10000元不收取学费，不签订一切贷款协议，真正的0学费入学”;</p>
						<p>狼腾测试员正式入驻开封直营校区</p>
						<p>狼腾测试员正式开设高级测试管理课程</p>
					</dd>
					<dt>2015年</dt>
					<dd>
						<p>狼腾测试员与中关村软件园成立人才战略储备库</p>
						<p>狼腾测试员就业薪水屡创新高，班级平均就业薪水达到8216元</p>
						<p>狼腾测试员与中关村软件园大型人才对接会成功召开</p>
					</dd>
					<dt>2016年</dt>
					<dd>
						<p>狼腾测试员核心软件测试课程进行全面升级</p>
						<p>狼腾测试员开设Python自动化开发、网络安全测试</p>
					</dd>
					<dt>2017年</dt>
					<dd>
						<p>狼腾测试员开设测试开发课程</p>
						<p>首届测试开发学员结业12个工作日平均就业薪资10500，就业率达到100%</p>
						<p>狼腾测试员入驻合肥直营校区</p>
					</dd>
				</dl>
			</dd>
			<dd style="display:none;">
			</dd>
		</dl>
	</div>
	{template "content","footer_min"}
	<script src="./js/jquery.min.js"></script>
	<script src="./js/swiper.min.js"></script>
	<script>
		$("#tab_h").find('dt').click(function(){
			var i = $(this).index()
			$(this).addClass('cur').siblings().removeClass('cur')
			$("#tab_c").find('dd').eq(i).fadeIn(500).siblings().hide()
		})
		$(".gytp").each(function(i,e){
			var items = $(e).find('li'),ul=$(e).find('ul')
			ul.width(280*items.length)
			if(ul.width()<1140) return false;
			var ulLeft = parseInt(ul.css('margin-left').replace('px',''))
			setInterval(function(){
				ulLeft--;
				ul.css('margin-left',ulLeft)
				if(ulLeft==-280){
					ulLeft=0;
					ul.append(ul.children().eq(0))
				}
			},30) //速度 ，越小越快
		})
	</script>
</body>
</html>