<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{template "content","header_seo"}
	
</head>
<body>
	{template "content","header_min2"}
	
	<div class="LecTeam">
		<div class="banner">
			<h4>这一次是你变身IT金领的机遇</h4>
			<p>一心向着目标前进的人，全世界都会为你让路 你不进步，那就等于后退，因为别人在进步</p>
		</div>
		<div class="Lec left">
			<div class="Page">
				<div class="pic">
					<img src="./images/laocao.jpg">
					<h2>曹士明</h2>
				</div>
				<div class="main">
					<p>多年软件测试经验和教学经验，尤其精通软件测试和测试工具研发，还提出了规范的、开源的系统测试流程及测试框架，目前在国内软件公司使用率非常高</p>
					<p>曹老师曾负责主导测试过全国公安机关现场勘验信息系统、长春刑侦情报网站作战平台、中国建设银行网银系统、中国建设银行资产管理平台、E伴生命健康导航系统等。曾以测试总监的角色帮客户成功通过了CMMI5级认证，并获得北京市高科企业创新奖。除了公安和金融系统测试外，曹老师也深入研究python自动化开发、appium自动化测试、selenium自动化测试、Jenkins持续集成自动化测试、安全渗透测试等前沿测试技术。</p>
					<p>2015年中国软件技术大会特约嘉宾，2015年12月 荣获中国经济新模式创新与发展峰会“2015中国IT教育培训行业最具创新人物”奖。</p>
				</div>
			</div>
		</div>
		<div class="Lec right r1">
			<div class="Page">
				<div class="pic">
					<img src="./images/jiasheng.jpg">
					<h2>贾生</h2>
				</div>
				<div class="main">
					<p>拥有多年的Java开发和项目管理经验。曾组织开发了基于微信端的新型金融理财综合解决方法，集微博、博客、分类信息和QQ为一体的综合性网络营销平台Marketing等。通过这些项目的研发和管理，积累了大量的经验，对JavaSE,JavaEE项目开发中涉及到的相关技术能够灵活运用。对项目和人员的管理也能够得心应手。 擅长技术：JavaSE、Java Web、Struts2、Spring MVC、Spring、Hibernate、MyBatis、Tomcat、Lucene等开源技术；以及 Oracle、MySQL、SQLite 等数据库技术。对学生要求严格，课堂上能够灵活调动课堂气氛，对于上课不在状态的学生和平时偷懒的学生能够及时发现，及时纠正。</p>
				</div>
			</div>
		</div>
		<div class="Lec left">
			<div class="Page">
				<div class="pic">
					<img src="./images/lifeng.jpg">
					<h2>李锋</h2>
				</div>
				<div class="main">
					<p>高级讲师</p>
					<p>具有6年软件测试工作经验，百度高级软件测试工程师，精通测试理论和测试工具，熟练操作数据库并对数据库优化有一定的研究，熟悉java语言，对Web端自动化测试、app端自动化测试以及接口测试有较为深入研究，精通appium,selenium自动化测试以及LoaRunner、Jmeter等性能测试工具。</p>
				</div>
			</div>
		</div>
		<div class="Lec right r2">
			<div class="Page">
				<div class="pic">
					<img src="./images/molin.jpg">
					<h2>莫林</h2>
				</div>
				<div class="main">
					<p>曾担任微软外包高级测试经理，美国GNT科技有限公司测试经理兼质量监督师，HP测评实验室测试项目总监。在软件领域工作15年。精通Python及Ruby等开发语言，MySql、SQL Server、Oracle等数据库操作及性能调优，对三维开发技术OpenInventor有深入的研究。精通Windows Server、Linux测试环境搭建，熟悉软件开发和软件测试流程，精通Robot、QTP、LoadRunner、SilkTest、Testlink、JUnit、Selenium、Jmeter等软件测试工具的使用，在白盒测试领域有深入研究，从事多种软件测试工具的脚本研发工作，在工作中积累了深厚的软件开发和测试的实践经验。擅长测试团队管理，测试人员培养，精通手工测试技术、性能测试技术及自动化测试技术，独立开发测试管理工具有N-test测试管理工具、用例评审管理系统。</p>
					<p>六年的专业教师经历形成了独立的授课风格，风趣幽默，深入浅出的授课方式使学生在轻松愉快的学习气氛中学到了深奥的软件测试技术。获得全国计算机技术与软件专业技术资格（水平）系统架构设计师及软件评测师证书</p>
				</div>
			</div>
		</div>
		<div class="Lec left">
			<div class="Page">
				<div class="pic">
					<img src="./images/liuhaifeng.jpg">
					<h2>刘海峰</h2>
				</div>
				<div class="main">
					<p>10多年性能测试实战工作经验曾参与华夏银行网银后端系统、民生银行数据处理平台，中国建设银行理材系统等多家金融行业大型项目，负责性能测试、性能分析、性能诊断、性能调优等职务。</p>
					<p>从事金融系统性能测试多年，精通负载测试、压力测试、性能多点多路分析、性能调优、Laodrunner，Jmeter等，其中“性能多点多路分析”原理的提出，一鸣惊人，在金融行业公认的资深性能测试专家。</p>
					<p>课程讲解注重实战应用，对讲述知识点穿插大量案例，使课程内容更加接近工作中实际的项目。授课风格注重实战经验分析，深受学生喜欢。</p>
				</div>
			</div>
		</div>
		<div class="Lec right r3">
			<div class="Page">
				<div class="pic">
					<img src="./images/wangzhi.jpg">
					<h2>王智</h2>
				</div>
				<div class="main">
					
					<p>8年安全测试经验, 曾就职与联想，神州数码，持有CCIE R&S CCIE Security CISP等认证。多次对银行、电力、公安等事业单位进行安全培训，具有丰富的IT从业经验和教育心得，对各种协议/网络安全技术有深入研究。充分将理论与实践相结合，善于培养学员自学能力和解决问题的能力。擅长：Web安全渗透，企业安全管理。</p>
				</div>
			</div>
		</div>
	</div>
	{template "content","footer_min"}
	<script src="./js/jquery.min.js"></script>
	<script src="./js/swiper.min.js"></script>
</body>
</html>