<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {template "content","header_seo"}
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/swiper.min.css">
</head>
<body>
{template "content","header_min2"}
  <div class="Page">
    
  </div>
  <div class="Test_topicBanner">
    <div>
      <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1" target="_blank" >点击咨询课程详情</a>
    </div>
  </div>
  <div class="topicContent TEst" style="background: #FFF;padding-bottom:30px;">
    <div class="block">
      <h1>职业发展</h1>
      <h3>会写代码的测试工程师就是了解不起，秒杀所有面试测试职位的竞争者</h3>
      <p class="til tc mt30 mb30"><span>职业发展一路绿灯 150天工资突破10000元/月</span></p>
      <div class="box Page">
        <div class="fl">
          <div class="top tc">
            <h4>传统的不会写代码的测试工程师</h4>
            <p>职业发展与薪资</p>
          </div>
          <div class="main">
            <p>初级测试工程师1-2年 <span>5K-7k/<b>月薪</b></span></p>
            <p>中级测试工程师3-4年 <span>8K-10k/<b>月薪</b></span></p>
            <p>高级测试工程师5-6年 <span>10K-12k/<b>月薪</b></span></p>
          </div>
        </div>
        <div class="fr">
          <div class="top tc">
            <h4>会写代码的测试工程师</h4>
            <p>职业发展与薪资</p>
          </div>
          <div class="main">
            <p>初级测试开发工程师1-2年 <span>10K-14k/<b>月薪</b></span></p>
            <p>中级测试开发工程师3-4年 <span>14K-18k/<b>月薪</b></span></p>
            <p>高级测试开发工程师5-6年 <span>18K-25k/<b>月薪</b></span></p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <h3 class="mt30" style="margin-bottom:50px;">狼腾测试员只培养会写代码的测试工程师，我们这里的初级测试开发工程师相当于高级软件测试工程师水平</h3>
    </div>
  </div>
  <div class="topicContent TEst" style="padding-bottom:30px;">
    <div class="block">
      <h1>课程有深度 有广度 带你学到真本领</h1>
      <h3>从理论学习到实践  从评测到企业项目实训  狼腾测试员打造完美的课程构造</h3>
    </div>
    <div class="Page">
      <ul class="list0">
        <li class="o1">
          <h4>体系完整</h4>
          <p>引进美国 Microsoft（微软）公司测试理念，结合中国软件企业特点分析，研发出国内最先进的、最全面、最具深度的测试开发课程体系，更易于实际应用，知识体系不发散</p>
        </li>
        <li class="o2">
          <h4>贯穿原理</h4>
          <p>注重原理上的一脉相承，从单元测试（源码测试）到系统测试，从精练的手工测试理念再到自动化测试和自动化测试工具研发秉承了测试技术与测试开发紧密相联的思路</p>
        </li>
        <li class="o3">
          <h4>紧贴实战</h4>
          <p>课程设计完全按照软件企业测试开发要求标准，对测试开发纷繁复杂的知识点加以梳理和完善，整个课程学习过程就是四个大项目的测试过程</p>
        </li>
        <li class="o4">
          <h4>注重效率</h4>
          <p>测试开发课程中的测试工具研发和源码测试，我们选择的程序语言是Java，根据ISO统计得出Java程序语言使用率世界第一，是目前软件公司首选程序设计语言，Java能够让学员快速的掌握实战项目中的源码测试和自动化脚本开发</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="topicContent TEst" style="background: #FFF;padding-bottom:30px;">
    <div class="block">
      <h1>牛逼的课程体系以及教学大纲</h1>
      <h3>让你这个0基础的菜鸟变成即会开发又会测试的大师</h3>
      <dl class="sy on">
        <dt>
          <i>1</i>
          <div>
            <p>计算机基础</p>
            <span>学习安排 2 周</span>
            <span>70 课时</span>
          </div>
        </dt>
        <dd>计算机入门，系统安装，大量的教学资料，截图丰富，易学易懂，office办公软件，大量的截图注重实用性，大量的练习题供学生使用，虚拟化平台的安装使用，通过亲手带学生安装与应用，让学生了解虚拟化平台的应用。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>2</i>
          <div>
            <p>软件测试概论</p>
            <span>学习安排 1 周</span>
            <span>7 课时</span>
          </div>
        </dt>
        <dd>带领学生从多角度认真软件测试的行业概况。通过大量的案例让学生了解测试的重要性。测试讲师的经验阐述，引起学生共鸣，找到自己的职业规划。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>3</i>
          <div>
            <p>面向过程的程序设计——C语言基础篇</p>
            <span>学习安排 1 周</span>
            <span>28 课时</span>
          </div>
        </dt>
        <dd>以问题引入，带动学生思考。概念解释清晰，透彻，通俗语言讲解。程序算法用思路（分析需求、举例子，总结规律、申请内存、提示输入、接收数据、数据处理、结果输出），清晰、连贯、逻辑性强。程序编写后，引入测试，通过这种方式在C语言中讲解开发的同时逐步引入测试内容，让学生理解开发和测试的关系。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>4</i>
          <div>
            <p>软件工程</p>
            <span>学习安排 1 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>通过详细的剖析，把软件生产过程透明化，让学生撑握到大项目研发整体框架。引入案例开发与测试，嫁接现代企业生产软件思路，把学生带入软件生产的流水线。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>5</i>
          <div>
            <p>数据库</p>
            <span>学习安排 1 周</span>
            <span>21 课时</span>
          </div>
        </dt>
        <dd>数据库是软件的后台，也是测试开发工程师工作中必须接触和使用的，本课程通过理论讲解，案例分析，大量的练习SQL语句使用，让学生在以后的工作中更加轻松。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>6</i>
          <div>
            <p>linux系统</p>
            <span>学习安排 1 周</span>
            <span>28 课时</span>
          </div>
        </dt>
        <dd>本课程阐述linux系统简介，让学了解linux系统的发展史和开源性。Linux命令由简到难，命令中的英文给予解释，不死板灌输。环境的搭建完全来致企业项目，让学与用相吻合。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>7</i>
          <div>
            <p>JAVA程序开发</p>
            <span>学习安排 5 周</span>
            <span>152 课时</span>
          </div>
        </dt>
        <dd>JAVA程序语言基础和JAVA面向对象是阅读JAVA代码的基础，也是JAVA源码测试的基石。这段内容设计简单易学。JAVASE核心，JAVA语句最核心的一部分，课程讲解一大量案例和实践为基础。</dd>
      </dl>
	  <dl class="sy">
        <dt>
          <i>8</i>
          <div>
            <p>黑盒测试技术</p>
            <span>学习安排 4 周</span>
            <span>126 课时</span>
          </div>
        </dt>
        <dd>本课程中使用Bugfree、Jira、Microsoft Visual Studio、Microsoft SQL Server等工具贯穿整个项目，驱动软件测试大框架内容的讲解，让学生在实践消化理论。部分内容将以一系列项目、专题项目为蓝本进行讲解。</dd>
      </dl>
	  <dl class="sy">
        <dt>
          <i>9</i>
          <div>
            <p>高端测试技术</p>
            <span>学习安排 5 周</span>
            <span>175 课时</span>
          </div>
        </dt>
        <dd>涵盖PC端、移动端、服务器端的自动化测试，案例丰富，以项目贯穿学习，达到从手动测试到自动化测试的转变。</dd>
      </dl>
      <div class="tc">
        <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1" target="_blank" class="btn">我要咨询</a>
      </div>
    </div>
  </div>
  <div class="topicContent TEst list1" style="padding-bottom:80px;padding-top: 30px;">
    <div class="block">
      <h2 style="color:#FFF;">5大国际国内项目案例  与企业进行无缝对接</h2>
      <h3 style="color:#999;">金融、证卷、财务等一流的项目平台，学员根据兴趣爱好选择项目实践</h3>
    </div>
    <div class="Page">
    <ul class="list">
      <li>
        <div class="box c1">
          <h4>测试管理平台</h4>
          <div><h5>项目简介</h5></div>
          <p>测试管理平台是借鉴微软的研发流程和Bug管理理念，使用Java+MySQL独立写出的一个Bug管理系统。采用B/S结构，所以客户端无需安装任何软件，通过IE，FireFox等浏览器就可以自由使用</p>
          <div><h5>项目简介</h5></div>
          <p>测试管理平台是借鉴微软的研发流程和Bug管理理念，使用Java+MySQL独立写出的一个Bug管理系统。采用B/S结构，所以客户端无需安装任何软件，通过IE，FireFox等浏览器就可以自由使用</p>
        </div>
        <div class="box c2">
          <h4>银行缴费平台</h4>
          <div><h5>项目简介</h5></div>
          <p>银行河北分行缴费平台是基于银行网上支付，通过互联网为具有收费需求的单位提供网上缴纳费用、管理等相关职能的一项金融服务，为广大个人客户、企业客户提供快捷便利的缴费办理渠道。它具有将资金流和信息流结合的特点，是服务收费公司提升公司形象、加强服务管理，方便客户及时、快捷交纳各类费用的一种新的支付方式</p>
          <div><h5>项目简介</h5></div>
          <p>本系统是基于B/S架构而设计开发的，采用了当前最流行的S2SH进行总体架构，充分利用框架整合后的各种特性，使用Apache POI实现海量数据导出等。该系统的上主要实现selenium自动化测试、loadrunner性能自动化测试，以及Web测试等</p>
        </div>
      </li>
      <li style="margin:0 22px;">
        <div class="box c3">
          <h4>移动支付平台</h4>
          <div><h5>项目简介</h5></div>
          <p>移动支付app，为客户打造的移动金融系统转账汇款、缴费支付、投资理财、账户管理、信用卡、快贷、手机充值、网点地图等常用功能的同时，还向广大客户提供影票在线、机票预订、存贷款计算器等便捷生活服务。炫酷、流畅的界面设计，新颖实用的功能让您充分享受移动生活的乐趣,是时刻陪伴在您身边的理财生活好帮手。在安全方面,采用数据全程加密、密码超限保护、登录超时控制等机制，并通过用户信息绑定、短信验证等多种安全措施，为您的资金交易保驾护航</p>
          <div><h5>项目简介</h5></div>
          <p>项目采用当前最流行的SSM(springmvc+spring+mybatis)框架开发，系统前台使用Freemarker做静态化页面来提高系统的性能，以应对大规模的用户量的并发。主要实现移动端功能测试和移动端appium自动化测试</p>
        </div>
        <div class="box c4">
          <h4>证卷交易信息系统</h4>
          <div><h5>项目简介</h5></div>
          <p>证券交易信息系统是一款为广大投资者和投资机构提供关于股票报价，股市行情的分析工具。其主要功能有对股票的即时分析报价，能够对股票价格进行实时更新，使投资者第一时间了解到股票的行情；对多空双方的资金流动统计可以使我们更加清楚直观的了解到买卖双方的资金流动，使我们对股票价格的分析提供强有力的数据依据。K线图更加准确和清楚，方便用户对股价市场行情的判断。在证券行业获得一直好评</p>
          <div><h5>项目简介</h5></div>
          <p>本系统是基于B/S架构而设计开发的，采用了当前最流行的S2SH进行总体架构，充分利用框架整合后的各种特性，使用Apache POI实现海量数据导出等。该系统的上主要实现selenium自动化测试、loadrunner性能自动化测试，以及Web测试等</p>
        </div>
      </li>
      <li>
        <div class="box c5">
          <h4>银蝶记账通</h4>
          <div><h5>项目简介</h5></div>
          <p>《银蝶记账通》是根据业务需求发展需要，建立的企业内部使用的财务信息管理服务平台，主要功能充分体现了会计电算化操作的简便、精确。编辑正确的凭证后，系统自动生成账簿，减少了工作量，提高了工作效率。系统中的报表生成功能可以更加快捷无误的生成会计报表，后期的对账功能以及数据修复和维护功能使数据更加精确。从而实现对公司发生的每项经济业务都可以清晰简便的记载下来，使账簿管理工作更加趋于规范化、系统化、程序化，提高信息处理的速度和准确性</p>
          <div><h5>项目简介</h5></div>
          <p>采用Maven进行项目管理，模块划分清晰、模块间依赖明确，采用大型数据库MySQL持久化存储，系统权限管理采用Apache Shiro框架完成，统计分析模块实现大数据统计分析解决方案，对分散数据聚合，提高系统处理性能</p>
        </div>
      </li>
    </ul>
    </div>
  </div>
  <div class="topicContent TEst" style="background: #FFF;padding-bottom:30px;">
    <div class="block">
      <h3>大神级讲师聚集地，绽放狼腾测试员最美乐章！ </h3>
      <h2>名师大咖亲临授课</h2>
    </div>
    <div class="Page">
      <ul class="lecs">
        <li>
          <div class="Pic">
            <img src="/images/QQ20180106151857.png" width='342' height='240'>
          </div>
          <div class="clear"></div>
          <h4>曹老师</h4>
          <p>狼腾测试员 高级讲师</p>
          <div class="main">
            <p>多年软件测试经验和教学经验，尤其精通软件测试和测试工具研发，还提出了规范的、开源的系统测试流程及测试框架，目前在国内软件公司使用率非常高。</p><p>
曹老师曾负责主导测试过全国公安机关现场勘验信息系统、长春刑侦情报网站作战平台、中国建设银行网银系统、中国建设银行资产管理平台、E伴生命健康导航系统等。曾以测试总监的角色帮客户成功通过了CMMI5级认证，并获得北京市高科企业创新奖。除了公安和金融系统测试外，曹老师也深入研究python自动化开发、appium自动化测试、selenium自动化测试、Jenkins持续集成自动化测试、安全渗透测试等前沿测试技术。</p><p>
2015年中国软件技术大会特约嘉宾，2015年12月 荣获中国经济新模式创新与发展峰会“2015中国IT教育培训行业最具创新人物”奖。


</p>
            
          </div>
        </li>
        <li style="margin: 0 41px;">
          <div class="Pic">
            <img src="/images/2017050355392993.png" width='342' height='240'>
          </div>
          <div class="clear"></div>
          <h4>贾老师</h4>
          <p>狼腾测试员 高级讲师</p>
          <div class="main">
            <p>拥有多年的Java开发和项目管理经验。曾组织开发了基于微信端的新型金融理财综合解决方法，集微博、博客、分类信息和QQ为一体的综合性网络营销平台Marketing等。通过这些项目的研发和管理，积累了大量的经验，对JavaSE,JavaEE项目开发中涉及到的相关技术能够灵活运用。对项目和人员的管理也能够得心应手。 </p><p>擅长技术：JavaSE、Java Web、Struts2、Spring MVC、Spring、Hibernate、MyBatis、Tomcat、Lucene等开源技术；以及 Oracle、MySQL、SQLite 等数据库技术。对学生要求严格，课堂上能够灵活调动课堂气氛，对于上课不在状态的学生和平时偷懒的学生能够及时发现，及时纠正。</p>
          </div>
        </li>
        <li>
          <div class="Pic">
            <img src="/images/QQ20180106145546.png" width='342' height='240'>
          </div>
          <div class="clear"></div>
          <h4>莫老师</h4>
          <p>狼腾测试员 高级讲师</p>
          <div class="main">
            <p>曾担任微软外包高级测试经理，美国GNT科技有限公司测试经理兼质量监督师，HP测评实验室测试项目总监。在软件领域工作15年。精通Python及Ruby等开发语言，MySql、SQL Server、Oracle等数据库操作及性能调优，对三维开发技术OpenInventor有深入的研究。精通Windows Server、Linux测试环境搭建，熟悉软件开发和软件测试流程，精通Robot、QTP、LoadRunner、SilkTest、Testlink、JUnit、Selenium、Jmeter等软件测试工具的使用，在白盒测试领域有深入研究，从事多种软件测试工具的脚本研发工作，在工作中积累了深厚的软件开发和测试的实践经验。
            </p><p>擅长测试团队管理，测试人员培养，精通手工测试技术、性能测试技术及自动化测试技术，独立开发测试管理工具有N-test测试管理工具、用例评审管理系统。</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="topicContent NTW_list NTW_QA">
    <h1 class=tc>Q&A</h1>
    <div class="Page">
      <div><span>Q:</span>测试开发工程师是一个什么样岗位？测试开发工程师和测试工程师哪个更好一些？</div>
      <div><span>A:</span>测试开发工程师应该是为测试服务的，为达到测试目的，开发各种类型的测试工具；未达到测试管理目的，开发各种测试管理工具。
 两者的发展大不一样，一种是开发，一种是测试，没有孰优孰劣之分。</div>
    </div>
  </div>
  {template "content","footer_min"}
  <script src="./js/jquery.min.js"></script>
  <script type="text/javascript">
  $("dl.sy").click(function(){$(this).toggleClass('on')})
  </script>
</body>
</html>