<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
{template "content","header_seo"}
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/swiper.min.css">
</head>
<body>
{template "content","header_min2"}

  <!-- page start -->
   
  <div class="topicBanner">
    <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank">&nbsp;</a>
  </div>
  <div class="topicContent" style="background: #FFF;padding-bottom:30px;">
    <div class="block">
      <h1>牛逼的课程体系以及教学大纲</h1>
      <h3>让你这个0基础的菜鸟变成大师</h3>
      <dl class="sy on">
        <dt>
          <i>1</i>
          <div>
            <p>性能测试基础</p>
            <span>学习安排 3 周</span>
            <span>21 课时</span>
          </div>
        </dt>
        <dd>性能测试有着一整套完整的理论体系，课程内容完善，体系完整。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>2</i>
          <div>
            <p>Linux环境部署</p>
            <span>学习安排 2 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>服务器端的性能测试大部分在linux平台，因此，linux平台学习很重要。课程内容设计以实战为主。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>3</i>
          <div>
            <p>LoadRunner11（web/接口性能测试）</p>
            <span>学习安排 3 周</span>
            <span>21 课时</span>
          </div>
        </dt>
        <dd>性能测试核心工具之一loadrunner，是学员必须要撑握的，后面的测试过程会经常使用。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>4</i>
          <div>
            <p>性能瓶颈定位和调优</p>
            <span>学习安排 3 周</span>
            <span>21 课时</span>
          </div>
        </dt>
        <dd>性能测试结果分析是测试的高级部分，对学员综合能力要求很高。课程设计以JAVA语言为基础开发的程序</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>5</i>
          <div>
            <p>测试数据构造</p>
            <span>学习安排 1 周</span>
            <span>7 课时</span>
          </div>
        </dt>
        <dd>如何构成测试数据，是做性能测试的基石。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>6</i>
          <div>
            <p>测试脚本开发</p>
            <span>学习安排 2 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>性能自动化脚本开发是性能测试又一高级部分。实际在企业里使用是非常广泛的。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>7</i>
          <div>
            <p>监控</p>
            <span>学习安排 2 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>监控软件的性能表现也是一门技术，通过观察各种指标变化情况。分析和定位软件的性能问题。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>8</i>
          <div>
            <p>Jmeter</p>
            <span>学习安排 2 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>性能测试又一核心开源工具Jmeter.</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>9</i>
          <div>
            <p>项目实战</p>
            <span>学习安排 2 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>各种类型的项目实践，全方面提升学员在企业里性能测试动手能力。</dd>
      </dl>
      <div class="tc">
        <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" class="btn">我要咨询</a>
      </div>
    </div>
    <div class="Page">
      <div class="block">
        <h2>打造性能测试行业精英</h2>
        <h1><span>15K</span>月薪仅仅只是开始</h1>
        <ul class="list1">
          <li>
            <span>行业前景好</span>
            <p>智联招聘发布了最新一期的IT职场人气排行榜，其中性能自动化测试工程师、高级程序员、产品项目经理等高薪职位进入"三甲"，成为IT就业市场最新风向标</p>
          </li>
          <li>
            <span>人才却口大</span>
            <p>我国企业对于软件测试自动化技术在整个软件行业中的重要作用认识较晚，因此，专业的软件测试人才供需之间存在巨大的缺口，有关数据显示，我国目前软件测试从业人才缺口高达40万人</p>
          </li>
          <li>
            <span>待遇好 薪资高</span>
            <p>刚入行晋升的性能测试人员，起步月薪大多才10000-15000元左右。高于同龄人3000-4000元的薪资水平，工作2-3年后月薪在20000-40000元左右，工作7年后年薪可达60万或更高</p>
          </li>
          <li>
            <span>女生也吃香</span>
            <p>软件测试工程师对性别没有特殊要求，注重经验的积累，虽然男性的罗辑思维能力极强，但在沟通和耐心方面女生具有独特的优势，所以，目前软件测试工程师的从业男女比例大致维持在1:1左右</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="topicContent" style="background:#f4fdff;padding: 30px 0;">
    <div class="block">
      <h1>稳 六层进阶 保证学成</h1>
      <h3>教学大目标，只培养高级性能测试工程师，帮助您从事低端功能测试中解放出来</h3>
      <h3>完成6大步进阶，做一个有竞争力的狼腾测试员</h3>
      <ul class="list2">
        <li><span>六层</span>具备性能调优能力</li>
        <li><span>五层</span>具备性能结果分析能力</li>
        <li><span>四层</span>性能自动化脚本开发能力</li>
        <li><span>三层</span>具备性能建模  </li>
        <li><span>二层</span>具备性能需求调研与分析</li>
        <li><span>一层</span>独立负责项目实施性能测试</li>
      </ul>
      <div class="tc">
        <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" class="btn">点击体验六层阶级</a>
      </div>
    </div>
  </div>
  <div class="topicContent" style="background: #FFF;padding-bottom:30px;">
    <div class="Page">
      <div class="block">
        <h1>学习方式 教学特色</h1>
        <h3>使用最新的双元教学模式，线上线下相结合，适合工作忙碌需要提升的白领</h3>
        <h3>又适合距离比较远的学员，网络上课更方便，所以可以放心选择狼腾测试员</h3>
        <ul class="list3">
          <li>
            <img src="./images/t1_1.png">
            <p>以案例/项目来进行驱动教学——不低于4个企业级大项目性能测试经验，提高学员动手能力，毕业后即积累2年的性能测试工作经验</p>
          </li>
          <li>
            <img src="./images/t1_2.png">
            <p>课前、课中、课后标准化学习素材——狼腾针对学员整个课程学习过程中所需要的不同的资料，制定了大量课前知识点预习教材，课中练习案例，课后复习巩固的作业和项目</p>
          </li>
          <li>
            <img src="./images/t1_3.png">
            <p>提供平台进行能力提升——通过PK赛提升学员的人文技能：沟通表达能力、演讲能力、抗压能力和自信心</p>
          </li>
          <li>
            <img src="./images/t1_4.png">
            <p>狼腾测试员质量监控部门的考核认证——狼腾所有老师的授课能力、技术水平、项目能力、责任心、工作态度等都必须通过品控部门的考核认证</p>
          </li>
        </ul>
        <div class="tc">
          <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" class="btn">点击获取详细可课程安排</a>
        </div>
      </div>
    </div>
  </div>
  <div class="topicContent" style="background:#f4fdff;padding: 30px 0;">
    <div class="block Page">
      <h1>名师大咖亲临授课</h1>
      <h3>一提到金融行业软件系统性能测试，业内没有人不知道他</h3>
      <div class="lec">
        <img src="./images/round_corner_image_by_atool.png">
        <p class="f26 tc">刘海峰</p>
        <p class="f18 tc mb20">高级讲师</p>
        <p>10多年性能测试实战工作经验曾参与华夏银行网银后端系统、民生银行数据处理平台，中国建设银行理材系统等多家金融行业大型项目，负责性能测试、性能分析、性能诊断、性能调优等职务。</p>
        <p>从事金融系统性能测试多年，精通负载测试、压力测试、性能多点多路分析、性能调优、Laodrunner，Jmeter等，其中“性能多点多路分析”原理的提出，一鸣惊人，在金融行业公认的资深性能测试专家。</p>
        <p>课程讲解注重实战应用，对讲述知识点穿插大量案例，使课程内容更加接近工作中实际的项目。授课风格注重实战经验分析，深受学生喜欢</p>
      </div>
    </div>
  </div>
   {template "content","footer_min"}
  <script src="./js/jquery.min.js"></script>
  <script type="text/javascript">
  $("dl.sy").click(function(){$(this).toggleClass('on')})
  </script>
</body>
</html>