<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
{template "content","header_seo"}
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/swiper.min.css">
</head>
<body>
{template "content","header_min2"}
  
  <!-- page start -->
    
  <div class="NWT_topicBanner">
    <div>
      <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank">点击咨询详情</a>
    </div>
  </div>
  <div class="topicContent NWT" style="background: #FFF;padding-bottom:30px;">
    <div class="block">
      <h1>一个让你变成网络安全专家的课程体系</h1>
      <h3>“老红客”手把手传授渗透测试的内容，课程易学、有趣，同时内容丰富。</h3>
      <dl class="sy on">
        <dt>
          <i>1</i>
          <div>
            <p>计算机基础</p>
            <span>学习安排 2 周</span>
            <span>70 课时</span>
          </div>
        </dt>
        <dd>计算机网络基础是学习网络安全测试的一门基础课程，提供大量的视频供刚入门的学生进行学习。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>2</i>
          <div>
            <p>网络安全</p>
            <span>学习安排 4 周</span>
            <span>21 课时</span>
          </div>
        </dt>
        <dd>Windows Server服务器基本原理及网络服务配置属性。以问题引入，带动学生思考。概念解释清晰，透彻，通俗语言讲解。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>3</i>
          <div>
            <p>系统服务安全</p>
            <span>学习安排 3 周</span>
            <span>120 课时</span>
          </div>
        </dt>
        <dd>很多服务器端的系统并非Windows,而是linux系统，linux运维技术是从linux系统的平台维护、平台开发、系统网络配置、群集管理等。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>4</i>
          <div>
            <p>Web安全</p>
            <span>学习安排 3 周</span>
            <span>160 课时</span>
          </div>
        </dt>
        <dd>渗透测试技术是网络安全测试的核心内容，“老红客”用最通俗的语言，大量的案例展示，让安全测试的学员逐步完成黑盒技术转换和利用，让学生在以后的工作中更加轻松。</dd>
      </dl>
      
      <div class="tc">
        <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" class="btn">我要咨询</a>
      </div>
    </div>
    <div class="Page">
      <div class="block">
        <h1>四大核心模块</h1>
        <h2>4个月引领你变成Web系统攻防高手</h2>
        <table class="NWT_Tb">
          <thead><tr><td colspan="4">One 网络安全</td></tr></thead>
          <tbody>
            <tr>
              <td>网络漏洞扫描与信息收集</td>
              <td>口令攻击</td>
              <td>加固防火墙</td>
              <td>网络无线原理和安全防护</td>
            </tr>
          </tbody>
        </table>
        <table class="NWT_Tb">
          <thead><tr><td colspan="4">Two 编程语言</td></tr></thead>
          <tbody>
            <tr>
              <td>Python<br>网页、网络连接编程</td>
              <td>Python<br>多线程编程</td>
              <td>Python<br>自动化安全测试脚本编写</td>
              <td>POC和EXP实例课程</td>
            </tr>
            <tr>
              <td>QL用例课程</td>
            </tr>
          </tbody>
        </table>
        <table class="NWT_Tb">
          <thead><tr><td colspan="4">Three Web系统安全</td></tr></thead>
          <tbody>
            <tr>
              <td>法律法规&职业道德</td>
              <td>会话管理隐患与防御</td>
              <td>SQL注入攻击与防御</td>
              <td>XSS技术原理、漏洞攻击及防御</td>
            </tr>
            <tr>
              <td>CSRF漏洞攻击与防御</td>
              <td>敏感信息泄露漏洞与防御</td>
              <td>安全配置与中间件存在<br>隐患与防御</td>
              <td>文件包含&逻辑漏洞挖掘与防御</td>
            </tr>
            <tr>
              <td>Webshell获取与查杀</td>
              <td>企业渗透测试流程规范</td>
              <td>加密与解密</td>
            </tr>
          </tbody>
        </table>
        <table class="NWT_Tb">
          <thead><tr><td colspan="4">Four 结业&就业</td></tr></thead>
          <tbody>
            <tr>
              <td>面试</td>
              <td>笔试</td>
              <td>职业规划</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="block">
        <div class="tc"><a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" class="btn" style="background:#eb6100;border-radius: 5px;font-size: 18px;">点击在线咨询课程</a></div>
      </div>
    </div>
  </div>
  <div class="topicContent NTW_list NTW_list1 tc">
    <h1 style="margin-bottom: 10px;">典型项目</h1>
    <p class="tc f16" style="color: #DDD;">模拟在线安全攻防实验室平台</p>
    <div class="Page">
      <ul class="f14">
        <li>
          <span>案例1：某银行缴费平台安全渗透测试</span>
          <p>基于Web的金融系统平台，对系统的前台和后台数据库安全性要求极高，因此，需要做安全渗透测试，保障系统的安全性。</p>
        </li>
        <li>
          <span>案例2：某电商平台安全渗透测试</span>
          <p>电商平台用户量很大，安全性要求很高，特别是系统的订单保存和支付流程及后台数据库安全性要求都很高，因此，需要保障系统的稳定运行和安全。</p>
        </li>
        <li>
          <span>案例3:某App端税务平台安全渗透测试</span>
          <p>App端税务平台，主要是移动端安全性测试，需要考虑大量SQL注入情况，这是现在比较新的安全渗透测试技术应用。</p>
        </li>
      </ul>
      <div class="block">
        <div class="tc"><a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" class="btn" style="background:#02a6e3;border-radius: 5px;font-size: 18px;">我要试听</a></div>
      </div>
    </div>
  </div>
  <div class="topicContent" style="padding: 30px 0;">
    <div class="block Page">
      <h3 style="font-size: 20px;color:#000;">上班族网络安全培训，体验大师的盛宴 </h3>
      <h1>名师大咖亲临授课</h1>
      <div class="lec" style="width:900px;margin: 50px auto;">
        <img src="./images/QQ20180106143847.png" class="fl" style="margin:10px auto;">
        <div class="fr" style="width:600px;">
          <p class="f26 fb">王智</p>
          <p class="f18 mb20">高级讲师</p>
          <p>曾就职与联想，神州数码，持有CCIE R&S CCIE Security CISP等认证。多次对银行、电力、公安等事业单位进行安全培训，具有丰富的IT从业经验和教育心得，对各种协议/网络安全技术有深入研究。充分将理论与实践相结合，善于培养学员自学能力和解决问题的能力。</p>
          <p>擅长：web安全渗透，企业安全管理。</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="topicContent NTW_list NTW_QA">
    <h1 class=tc>Q&A</h1>
    <div class="Page">
      <div><span>Q:</span>他是一位帅哥，他是一位经常在互联网上与黑客博弈的“白帽子”，他就是我们狼腾测试员高级讲师崔智华，
      让他结合自己的经历谈谈网络空间那点事；</div>
      <div><span>A:</span>中国是网络攻击的主要受害国，2013年震动世界的“棱镜门”事件集中反映了我国网络安全受制于人的严重困局。
      2014年，受访的内地和香港大中型企业在过去一年内因信息安全事件平均每家损失达240万美元，同比增加33%。
      2015年网络安全事故频发。社保系统泄露千万用户信息，波及30余省市。网易邮箱数据疑似泄露过亿用户，连带
      用户绑定的其他账号等。2016年4月底，Struts2漏洞爆发，大量网站中招……。
      网络空间安全事故频发，急需安全攻防“白帽子”</div>
    </div>
  </div>
  
  {template "content","footer_min"}
  <script src="./js/jquery.min.js"></script>
  <script type="text/javascript">
  $("dl.sy").click(function(){$(this).toggleClass('on')})
  </script>
</body>
</html>