<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
{template "content","header_seo"}
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/swiper.min.css">
</head>
<body>
  {template "content","header_min2"}
   <div class="Py_topicBanner">
    <div>
      <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" >在线咨询</a>
      <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" class="red">立即报名</a>
    </div>
  </div>
  <div class="topicContent" style="background: #FFF;padding-bottom:30px;">
    <div class="block">
      <h1>大神级的课程体系以及教学大纲</h1>
      <h3>让你这个0基础的菜鸟变成大师</h3>
      <div class="Page">
        <ul class="Py_sy">
          <li>
            <img src="./images/py_pic_1.png">
            <h4>体系完整</h4>
            <p>全栈开发，爬虫，数据分析，人工智能、自动化工具研发等</p>
          </li>
          <li>
            <img src="./images/py_pic_2.png">
            <h4>贯穿原理</h4>
            <p>课程由浅入深，循环渐进，学习无压力</p>
          </li>
          <li>
            <img src="./images/py_pic_3.png">
            <h4>紧贴实战</h4>
            <p>双模式教学小工具开发到名企业大项目开发，名企总监级讲师团队，10年以上Python实战经验</p>
          </li>
          <li>
            <img src="./images/py_pic_4.png">
            <h4>大牛保证</h4>
            <p class="tc">不高薪就业退还全部学费</p>
          </li>
        </ul>
      </div>
      <dl class="sy on">
        <dt>
          <i>1</i>
          <div>
            <p>Python基础</p>
            <span>学习安排 1 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>基础语法是任何一门语言基石Python也一样。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>2</i>
          <div>
            <p>函数和常用模块</p>
            <span>学习安排 1 周</span>
            <span>21 课时</span>
          </div>
        </dt>
        <dd>Python语言实现功能的基础。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>3</i>
          <div>
            <p>面向对象</p>
            <span>学习安排 1 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>Python语言也是面向对象的程序语言，和其他语言一样，也需要学习面向对象内容。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>4</i>
          <div>
            <p>网络编程</p>
            <span>学习安排 2 周</span>
            <span>35 课时</span>
          </div>
        </dt>
        <dd>网络编程运用很广，可以说大部分程序都有应用到。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>5</i>
          <div>
            <p>Web开发</p>
            <span>学习安排 3 周</span>
            <span>42 课时</span>
          </div>
        </dt>
        <dd>前端开发是后期开发项目的基础。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>6</i>
          <div>
            <p>算法与设计</p>
            <span>学习安排 1 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>算法是程序的灵魂，所有的程序语言最是一样的，因此，深度学习软件和设计模式，有利于深度撑握这门语言。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>7</i>
          <div>
            <p>项目实践</p>
            <span>学习安排 4 周</span>
            <span>98 课时</span>
          </div>
        </dt>
        <dd>通过各种类型的项目开发，达到灵活运用的目的。</dd>
      </dl>
      <div class="tc">
        <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" class="btn">我要咨询</a>
      </div>
    </div>
    <div class="Page">
      <div class="block">
        <h1>狼腾测试员Python 四大教学保障</h1>
        <ul class="Py_list1">
          <li>
            <span>教师质量保障</span>
            <p>7学时一评制，学生评价老师，学生有权开除不优秀的讲师</p>
          </li>
          <li>
            <span>教学质量保障</span>
            <p>教学内容、案例、进度全天候把控，把问题扼杀在摇篮里</p>
          </li>
          <li>
            <span>高效后勤保障</span>
            <p>狼腾测试员最大优点就是在教学设备从不吝啬，资料保证充足</p>
          </li>
          <li>
            <span>高薪就业保障</span>
            <p>强大的软件外包事业部后顿，解决的不是学生就业，而是思考如何让学生高薪就业</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="topicContent Py_les">
    <div class="block Page">
      <h1>名师出高徒 跟着大咖学实战</h1>
      <div class="tesc">
        <div class="tec">
          <img src="./images/wangzhi123.png">
          <h2>王智<span>高级讲师</span></h2>
          <p>8年自动化开发经验,精通 python和C++两门语言，狼腾测试员Python学科金牌讲师多年一线运维和开发经验，追求极致的技术分享者，被技术耽误的相声演员；对云计算、分布式存储ceph及python相关有较深研究，曾任某上市公司云计算部门主管，后不断致力于平台的自动化程度。</p>
        </div>
        <div class="tec">
          <img src="./images/QQ20180106145546.png">
          <h2>莫林<span>高级讲师</span></h2>
          <p>狼腾测试员Python学科核心讲师，7年Python自动化开发经验。擅长Python，Go，OpenStack，精通Django和flask框架，对于机器学习以及算法有深入研究，坚信：不懂算法的程序猿注定是一辈子的码农。讲课风格：严肃地讲课，认真地讲段子。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="topicContent Py_mo"></div>
  <div class="topicContent Py_mo2"></div>
  {template "content","footer_min"}
  <script src="./js/jquery.min.js"></script>
  <script type="text/javascript">
  $("dl.sy").click(function(){$(this).toggleClass('on')})
  </script>
</body>
</html>