<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {template "content","header_seo"}
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/swiper.min.css">
</head>
<body>
  {template "content","header_min2"}
  <div class="HT_topicBanner">
    <div>
      <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" >点击咨询课程详情</a>
    </div>
  </div>
  <div class="topicContent NWTer" style="background: #FFF;padding-bottom:30px;">
    <div class="block">
      <h1>超凡的课程体系</h1>
      <h3>让你这个职场小白脱胎换骨为职场管理者</h3>
      <dl class="sy on">
        <dt>
          <i>1</i>
          <div>
            <p>项目管理</p>
            <span>学习安排 2 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>美国PMP项目管理思路，彻底帮助学员摆脱“老土式”管理方法。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>2</i>
          <div>
            <p>团队激励与管理</p>
            <span>学习安排 3 周</span>
            <span>21 课时</span>
          </div>
        </dt>
        <dd>这一讲帮助正在晋升或是有晋升规划测试人员，提供解决方案。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>3</i>
          <div>
            <p>测试风险识别与措施</p>
            <span>学习安排 2 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>作业一名合格的测试管理者，要独具慧眼，识别风险，提供一栏子解决方案。</dd>
      </dl>
      <dl class="sy">
        <dt>
          <i>4</i>
          <div>
            <p>企业晋升</p>
            <span>学习安排 2 周</span>
            <span>14 课时</span>
          </div>
        </dt>
        <dd>把握细节，礼仪礼节培养。</dd>
      </dl>
      <div class="tc">
        <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" class="btn" style="background:#ff6565;font-size: 26px;width: 200px;">我要咨询</a>
      </div>
    </div>
  </div>

  <div class="topicContent" style="background: #FFF;padding-bottom:30px;">
    <div class="block">
      <h1>学习方式 质量保证</h1>
      <h3>使用最新的双元教学模式，线上为主线下为辅的教学模式，适合工作忙碌需要提升的白领</h3>
      <div class="Page">
        <ul class="HT_list1 tc">
          <li>
            <span>全案例教学</span>
            <p>联想，HP等国内外知名软件公司测试团队管理经验分享</p>
          </li>
          <li>
            <span>知识点考核</span>
            <p>沟通能力、技术能力、管理能力等三维一体考核</p>
          </li>
          <li>
            <span>面对面线下答辩</span>
            <p>专家面对面评级，企业面对面谈薪资</p>
          </li>
        </ul>
    </div>
  </div>
  <div class="topicContent" style="background:#f4fdff;padding: 30px 0;">
    <div class="block">
      <h1>狼腾测试员高级测试管理课程四大亮点</h1>
      <h3>教学大目标，只培养测试组长，帮助您从一线的测试工程师或基础管理者中解放出来</h3>
      <ul class="list2 HT" style="height:340px;">
        <li>让狼腾测试员资深级专家曹老师告诉你竞升王道</li>
        <li>世界500强企业总监为你解密测试风险分析与风险把控</li>
        <li>来致北京大学光华管理学院MBA的团队激励与管理</li>
        <li>引入美国当下最先进的PMP项目管理</li>
      </ul>
      <div class="tc">
        <a href="http://vipwebchat.tq.cn/pageinfo.jsp?version=vip&admiuin=9648362&ltype=1&iscallback=1&page_templete_id=113143&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1"  target="_blank" class="btn">点击立即体验</a>
      </div>
    </div>
  </div>
  <div class="topicContent NWTer" style="background: #FFF;padding-bottom:30px;">
    <div class="block">
      <h1>超凡的资深讲师</h1>
      <h3 style="color:#999;">他们是测试管理岗位的佼佼者，零距离，手把手传递管理技能</h3>
      <div class="Page HT_Lec">
        <div class="fl"><img src="/images/350240.png"></div>
        <div class="fr">
          <p class="mb10" style="font-size: 30px;">曹老师 <span>高级讲师</span></p>
          <p class="f20">多年软件测试经验和教学经验，尤其精通软件测试和测试工具研发，还提出了规范的、开源的系统测试流程及测试框架，目前在国内软件公司使用率非常高。曹老师曾负责主导测试过全国公安机关现场勘验信息系统、长春刑侦情报网站作战平台、中国建设银行网银系统、中国建设银行资产管理平台、E伴生命健康导航系统等。曾以测试总监的角色帮客户成功通过了CMMI5级认证，并获得北京市高科企业创新奖。除了公安和金融系统测试外，曹老师也深入研究python自动化开发、appium自动化测试、selenium自动化测试、Jenkins持续集成自动化测试、安全渗透测试等前沿测试技术。2015年中国软件技术大会特约嘉宾，2015年12月 荣获中国经济新模式创新与发展峰会“2015中国IT教育培训行业最具创新人物”奖。</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="Page HT_Lec">
        <div class="fl"><img src="/images/lifeng123.png"></div>
        <div class="fr">
          <p class="mb10" style="font-size: 30px;">李峰 <span>高级讲师</span></p>
          <p class="f20">具有6年软件测试工作经验，百度高级软件测试工程师，精通测试理论和测试工具，熟练操作数据库并对数据库优化有一定的研究，熟悉java语言，对Web端自动化测试、app端自动化测试以及接口测试有较为深入研究，精通appium,selenium自动化测试以及LoaRunner、Jmeter等性能测试工具。</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="topicContent NWTer" style="background:#f4fdff;padding-bottom:30px;">
    <div class="block">
      <div class="Page HT_Logos">
        <h1>合作企业</h1>
        <h3 class="tc f16 ">优秀的测试经理只在狼腾测试员</h3>
        <h3 class="tc f16 mb30">我们培养的测试管理者经过了名企的层层筛选，是唯一适合高端职位，高端要求的人</h3>
        <ul>
          <li><img src="./images/logos_1.jpg"></li>
          <li><img src="./images/logos_2.jpg"></li>
          <li><img src="./images/LOGO-sh.png"></li>
          <li><img src="./images/LOGO-jd.png"></li>
        </ul>
      </div>
    </div>
  </div>
  {template "content","footer_min"}
  <script src="./js/jquery.min.js"></script>
  <script type="text/javascript">
  $("dl.sy").click(function(){$(this).toggleClass('on')})
  </script>
</body>
</html>
