
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475913289'); /* IE9*/
  src: url('iconfont.eot?t=1475913289#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475913289') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475913289') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475913289#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-erweima:before { content: "\e621"; }
.icon-20xinzi:before { content: "\e608"; }
.icon-xinziyaoqiu:before { content: "\e609"; }
.icon-icon:before { content: "\e61e"; }
.icon-shipin:before { content: "\e616"; }
.icon-daodingbu:before { content: "\e637"; }
.icon-xinzi:before { content: "\e60a"; }
.icon-laoshi:before { content: "\e60e"; }
.icon-shipin1:before { content: "\e617"; }
.icon-dingbu:before { content: "\e638"; }
.icon-baoming:before { content: "\e61f"; }
.icon-shipin2:before { content: "\e618"; }
.icon-laoshi1:before { content: "\e60f"; }
.icon-kecheng:before { content: "\e604"; }
.icon-banji:before { content: "\e620"; }
.icon-liuyan:before { content: "\e622"; }
.icon-kecheng1:before { content: "\e600"; }
.icon-kecheng2:before { content: "\e605"; }
.icon-huidingbu:before { content: "\e639"; }
.icon-xianlu:before { content: "\e624"; }
.icon-x-mpg:before { content: "\e619"; }
.icon-wenti:before { content: "\e625"; }
.icon-xinzi1:before { content: "\e60b"; }
.icon-tubiao98:before { content: "\e60c"; }
.icon-Salary-copy:before { content: "\e60d"; }
.icon-wenti1:before { content: "\e626"; }
.icon-fill1fill2:before { content: "\e627"; }
.icon-mtbdm:before { content: "\e633"; }
.icon-liuyan1:before { content: "\e628"; }
.icon-shipin3:before { content: "\e61a"; }
.icon-kecheng2:before { content: "\e601"; }
.icon-lishi:before { content: "\e629"; }
.icon-shipin4:before { content: "\e61b"; }
.icon-laoshi2:before { content: "\e610"; }
.icon-luxian:before { content: "\e62a"; }
.icon-baoming1:before { content: "\e62c"; }
.icon-laoshi3:before { content: "\e611"; }
.icon-shipin5:before { content: "\e61c"; }
.icon-dingbulaoshi:before { content: "\e612"; }
.icon-kecheng3:before { content: "\e606"; }
.icon-iconfonticon:before { content: "\e62b"; }
.icon-video-conferencing-download:before { content: "\e623"; }
.icon-kecheng4:before { content: "\e602"; }
.icon-shipin6:before { content: "\e61d"; }
.icon-ganyan:before { content: "\e62d"; }
.icon-xuexiaohuanjing:before { content: "\e62e"; }
.icon-laoshi4:before { content: "\e613"; }
.icon-kecheng5:before { content: "\e603"; }
.icon-laoshi5:before { content: "\e614"; }
.icon-zixun:before { content: "\e62f"; }
.icon-meitibaodao:before { content: "\e634"; }
.icon-meitibaodao1:before { content: "\e635"; }
.icon-icontel:before { content: "\e631"; }
.icon-lishi1:before { content: "\e630"; }
.icon-shequluntan:before { content: "\e632"; }
.icon-kecheng-copy:before { content: "\e607"; }
.icon-huodongqudaobaobiao:before { content: "\e636"; }
.icon-huidingbu1:before { content: "\e63a"; }
.icon-laoshi6:before { content: "\e615"; }